body {  /*IMAGEN DE FONDO*/
    background-image: url(./Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#C_V{   /*ESTILO TITULO CV*/
    font-size: 50px;
    text-align: center;
}

#I_CV{  /*ESTILO BOTON VER CV*/
    margin-top: 20%;
    text-align: center;
}

#datos{ /*ESTILO CONTENEDOR BOTONES INFORMACION CV*/
    display: none;
    text-align: center;
}

#F{ /*ESTILO CONTENEDOR FOTO*/
    display: none;
    text-align: center;
}

#InfoPersonal{  /*ESTILO INFORMACION PERSONAL*/
    display: none;
    text-align: center;
    font-family: 'Solitreo', cursive;
    border: 15px solid rgba(0, 0, 0, 0.0);
}

#ForAcademica{
    display: none;
    text-align: center;
    font-family: 'Solitreo', cursive;
    border: 15px solid rgba(0, 0, 0, 0.0);
}

#ExpLaboral{
    display: none;
    text-align: center;
    font-family: 'Solitreo', cursive;
    border: 15px solid rgba(0, 0, 0, 0.0);
}

#inicioCV{
    width: 40%;
    border-radius: 50%;
    color: white;
    background-color: gray;
}

#I_P{
    background-color: aquamarine;
    height: 50%;
    width: 30%;
    border-radius: 60%;
}

#F_A{
    background-color: aquamarine;
    height: 50%;
    width: 30%;
    border-radius: 60%;
}

#E_L{
    background-color: aquamarine;
    height: 50%;
    width: 30%;
    border-radius: 60%;
}

#foto{
    height: 20%;
    width: 20%;
    border-radius: 50%;
}